body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header{
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
}

p {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
}

#quizQuestion,
#quizAnswer{
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
}
#fortuneHolder,
#quizHolder{
    width: 75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: silver;
    margin: auto;
    padding: 10px;
}

#nextButton,
#startButton,
#restartButton,
#showMe {
    width: 25%;
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#nextButton{
    float: right;
    margin: 15px;
}

#startButton {
    margin: auto;
}

#restartButton {
    margin: left;
    margin: 15px;
}

#showMe {
    margin: auto;
}

.hidden {
    display: none;
}