body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header{
font-family: 'Indie Flower', cursive;
font-size: 4rem;
}

p{
font-family: 'Gamja Flower', cursive;
font-size: 2rem;
}

#question-holder{
    width: 75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: silver;
    margin: auto;
}